/client/gamefiles/node_modules/
/client/gamefiles/firebaseServices-debug.log
/client/gamefiles/npm-debug.log

/client/tools/node_modules/
/client/tools/.firebase/
/client/tools/firebaseServices-debug.log
/client/tools/database-debug.log
/client/tools/npm-debug.log

/server/node_modules/
/server/firebaseServices-debug.log
/server/database-debug.log
/server/org-board-eff5da155b1b.js
/server/npm-debug.log

/references
/.firebase/
/.idea/
/notes
