/references
/client/node_modules
/server/node_modules
/client/firebaseServices-debug.log
/server/firebaseServices-debug.log
/.firebaseServices
npm-debug.log
/client/database-debug.log
/server/database-debug.log
.firebase/
.idea/
