section {
    margin: 20px;
}

header {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}

/* navbar */

nav {
    display: inline-block;
    margin: 0 10px 20px;
}

.nav-link {
    display: inline-block;
    margin: 10px;
    color: blue;
}

.nav-link:hover {
    color: lightblue;
    cursor: pointer;
}

.nav-link.active {
    border-top: 2px orange solid;
    border-bottom: 2px orange solid;
}

/* form */

form, .list {
    margin: 10px;
}

input, select {
    margin: 3px 15px 3px 5px;
}

.page-title {
    font-size: 16px;
    font-weight: bold;
}

.inactive {
    display: none;
}

/* message */

#message {
    display: none;
    position: absolute;
    top: 40%;
    left: 25%;
    width: 50%;
    margin: auto;
    padding: 10px;
    text-align: center;
    border: 1px solid orange;
    border-radius: 5px;
    box-shadow: 3px 3px 5px gray;
    background-color: lightcyan;
    z-index: 2;
}

#message .button-submit {
    position: relative;
    width: 50px;
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
}

/* Cards */

.row-header {
    font-weight: bold;
    padding-right: 10px;
}

.flex-grid {
    display: flex;
    flex-wrap: wrap;
}

.item-row {
    padding: 5px 0;
}

.item-row:nth-child(odd) {
    background-color: lightcyan;
}

.item-name {
    font-weight: bold;
    padding: 0 5px;
}

.item-attr {
    padding: 0 5px;
}

.yellow {
    background-color: #f7a431;
}

.green {
    background-color: #6aca3f;
}

.orange {
    background-color: #fc6621;
}

.blue {
    background-color: #0033ff;
}

.red {
    background-color: #fe0002;
}
