section {
    margin: 20px;
}

.title {
    font-size: 16px;
    font-weight: 500;
}

.firebaseui-container {
    display: none;
}

/* navbar */

nav {
    display: inline-block;
    margin: 0 10px 20px;
}

.nav-link {
    display: inline-block;
    margin: 10px;
    color: blue;
}

.nav-link:hover {
    color: lightblue;
    cursor: pointer;
}

.nav-link.active {
    border-top: 2px solid lightsalmon;
    border-bottom: 2px solid lightsalmon;
}

/* tool */

.tool-container {
    display: flex;
}

/* list */

.list-container {
    flex-basis: 20%;
    border-right: 2px solid blue;
}

.list {
    margin: 10px;
}

.list-item-name {
    color: blue;
}

.list-item-name:hover {
    color: lightblue;
}

.list-item-row {
    cursor: pointer;
}

/* form */

.form-container {
    flex-basis: 80%;
}

form {
    margin: 10px;
}

td {
    width: 200px;
    padding: 5px 0;
}

.row-header {
    width: 100px;
    font-weight: 500;
    padding-right: 10px;
    vertical-align: top;
}

.flex-grid {
    display: flex;
    flex-wrap: wrap;
}

.flex-item {
    margin: 0 20px 0 0;
}

input, select {
    margin: 3px 0 3px 5px;
}

.inactive {
    display: none;
}

td.button-container {
    text-align: center;
}

.button-submit {
    width: 100px;
    height: 30px;
    margin: 10px;
    color: white;
    background-color: lightseagreen;
    border: 1px solid blue;
    border-radius: 3px;
    cursor: pointer;
}

.button-reset {
    width: 100px;
    height: 30px;
    margin: 10px;
    background-color: yellow;
    border: 1px solid red;
    border-radius: 3px;
    cursor: pointer;
}

#card-thumb {
    width: 80px;
    height: 120px;
    border: 1px solid blue;
    cursor: pointer;
}

#card-thumb .card-container {
    display: none;
}

#card-thumb .card-faction {
    font-size: 40%;
}

#card-thumb .card-value {
    font-size: 80%;
}

.modal-open {
    cursor: pointer;
}

.shadow {
    box-shadow: 3px 3px 5px gray;
}

/* message */

#message {
    display: none;
    position: absolute;
    top: 40%;
    left: 25%;
    width: 50%;
    margin: auto;
    padding: 10px;
    text-align: center;
    border: 1px solid lightsalmon;
    border-radius: 5px;
    background-color: lightcyan;
    z-index: 2;
}

/* Card preview */

.modal {
    position: fixed;
    display: none;
    left: calc(50% - 200px);
    top: calc(50% - 300px);
    width: 400px;
    height: 600px;
}

.card-container {
    width: 100%;
    height: 100%;
    text-align: center;
}

.card-interior {
    position: relative;
    width: 80%;
    height: 80%;
    top: 10%;
    margin: auto;
    background-color: white;
}

.card-faction {
    font-size: 200%;
    padding: 5% 0;
    margin: 0;
}

.card-icon {
    position: relative;
    width: 40%;
    height: 27%;
    left: 30%;
    margin: 0;
    border: 1px solid black;
}

.card-value {
    position: relative;
    width: 40%;
    height: 27%;
    left: 30%;
    top: 23%;
    font-size: 400%;
    line-height: 200%;
    color: white;
    background-color: black;
    border-radius: 100px;
}

/*Card colors*/
.color-commercial { background-color: #f7a431; }
.color-cultural { background-color: #6aca3f; }
.color-political { background-color: #fc6621; }
.color-research { background-color: #0033ff; }
.color-military { background-color: #fe0002; }
.color-polity { background-color: gray; }

