body {
    font-family: "Century Gothic", "Arial", "sans-serif";
    font-weight: 300;
    background-color: black;
}

#page-header {
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
}

.title {
    display: inline-block;
    width: 150px;
    font-size: 40px;
    color: gainsboro;
}

#main-nav {
    display: flex;
}

.button {
    display: inline-block;
    min-width: 130px;
    line-height: 20px;
    margin: 0 3px;
    padding: 10px;
    border: 2px solid coral;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.nav-button {
    color: darkblue;
    background-color: cornflowerblue;
}

#game-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr auto;
}

section {
    display: flex;
    align-items: center;
    position: relative;
    margin: 3px;
    padding: 8px;
    border-radius: 8px;
}

header {
    display: inline-block;
    width: 150px;
    opacity: 0.2;
    color: cornflowerblue;
    font-size: 40px;
    font-weight: 500;
}

.subheader {
    margin: 10px 0 20px;
    font-size: 18px;
}

/* Action buttons */

#actions {
    grid-column: 1 / 3;
    grid-row: 1 / 1;
    background-color: darkslategray;
}

.action-button {
    color: darkblue;
    background-color: skyblue;
}

/* Players list */

#players {
    grid-column: 1 / 3;
    grid-row: 2 / 2;
    background-color: darkslategray;
    overflow-x: scroll;
}

#players .player-box {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 50px;
    margin: 0 3px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 6px;
    color: darkblue;
    background-color: cornflowerblue;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
}

#players .player-box.user {
    background-color: coral;
}

/* Game Board */

#game-board {
    display: flex;
    grid-column: 1 / 3;
    grid-row: 3 / 3;
    height: 500px;
    border: 5px solid darkslategray;
}

#messages {
    width: 15%;
    height: 100%;
    margin: 0 5px 0 0;
    overflow: auto;
    border-radius: 5px;
    background-color: gray;
    box-sizing: border-box;
    color: gainsboro;
}

.log-message {
    margin: 10px;
}

#board-content {
    width: 85%;
    height: 100%;
    padding: 10px;
    color: white;
}

#board-start-button {
    display: none;
}

#board-gametitle {
    position: relative;
    top: 0;
    font-size: 16px;
    font-weight: 600;
}

/* Modals */

#modal {
    display: none;
    position: fixed;
    min-width: 400px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    text-align: center;
    background-color: lightgray;
    border: 4px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    z-index: 3;
}

#modal-backdrop {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: black;
    opacity: 0.5;
}

.modal-title {
    padding-bottom: 20px;
    font-size: 20px;
    color: darkblue;
}

.text-line-entry {
    margin: 10px;
    font-size: 16px;
}

.game-list {
    max-height: 250px;
    overflow: scroll;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    box-shadow: 0 0 5px 2px inset darkslategrey;
}

.game-list-header {
    font-weight: 600;
    padding-bottom: 10px;
}

.game-list-header:first-child {
    text-align: left;
}

.game-list-row, .game-list-header-row, .game-list-row-nogames {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    padding: 0 20px;
}

.game-list-row:hover {
    background-color: whitesmoke;
    opacity: 0.5;
    color: blue;
    cursor: pointer;
}

.game-list-row.game-list-row-selected {
    background-color: coral;
    opacity: 0.6;
    color: blue;
}

.game-list-text {
    pointer-events: none;
}

.game-list-text-name {
    text-align: left;
}

.warning {
    display: none;
}

.error-text {
    display: none;
    color: red;
}

.wait-text {
    display: none;
}

.modal-buttons {
    margin-top: 20px;
}

#tempContainer {
    display: none;
}

@media (min-width: 1000px) {
    #game-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
    }

    #players {
        grid-column: 2 / 2;
        grid-row: 1 / 1;
    }

    #actions {
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        flex-flow: wrap;
    }
}